body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    height: 500px;
    padding-left: 25px;
}

.half-width {
    display: flex;
    width: 40%;
    margin: 20px;
}

.half-width img {
    width: 100%;
}

h1 {
    font-size: 50px;
    font-weight: 800;
}